<div class="config-selector" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
    <div class="mat-title">Please Choose your configuration</div>
    <!-- <mat-form-field appearance="fill"> -->
    <div fxLayout="row" fxLayoutAlign="center center">
        <div>
            <mat-form-field appearance="fill">

                <!-- <div fxLayout="row" fxLayoutAlign="space-around center"> -->
                <mat-label>App</mat-label>
                <mat-select [(ngModel)]="selectedConfig" (selectionChange)="selectedValue('app', $event)">
                    <mat-option *ngFor="let config of configs" [value]="config.app">
                        {{config.app}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>/</div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Profile</mat-label>
                <mat-select (selectionChange)="selectedValue('profile', $event)">
                    <ng-container *ngFor="let config of configs">
                        <div *ngIf="config.app === selectedConfig">
                            <mat-option *ngFor="let profile of config.profiles" [value]="profile">
                                {{profile}}
                            </mat-option>
                        </div>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div>/</div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Label</mat-label>
                <mat-select (selectionChange)="selectedValue('label', $event)">
                    <ng-container *ngFor="let config of configs">
                        <div *ngIf="config.app === selectedConfig">
                            <mat-option *ngFor="let label of config.labels" [value]="label">
                                {{label}}
                            </mat-option>
                        </div>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <div>
            <button mat-raised-button color="primary" (click)="callConfig()">GO</button>
        </div> -->
    </div>
    <button class="go-button" mat-raised-button (click)="callConfig()">GO</button>
</div>