.config-selector{
    // width: 60%;
    margin-top: 10%;
    // height: 20%;
}
mat-form-field{
    width: 130px;
}

// .message {
//     font-weight:bold;
// }

.go-button {
    background-color: #f5c13b;
    border-radius: 3px;
  }
  