// html, body {
//     height: 100%;
//   }
  
//   // defined a variable to hold the color
//   $background-color: #e4ced9;
  
//   // a function simply returns the color value
//   @function getBackgroundColor() {
//     @return $background-color;
//   }
  
  body {
    margin: 0;
    // margin-top: 100px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: #e2e2e2;
  }
  
  .background {
    display:block;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../../assets/images/home.png') no-repeat center center fixed;
  }
  
  .app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  }
  
  .input-tan {
  height: 30px;
  } 
  .login-button {
    width: 200px;
    height: 40px;
    background-color: #f5c13b;
    border: 0px;
    border-radius: 3px;
  }
  
  
  .login-wrapper {
    height: 700px;
  }
  