<div class="background">
    <div class="login-wrapper" fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="center center">

        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="mat-headline">Config Editor</div>
            <!-- <div class="mat-headline">Managment</div> -->
        </div>

        <!-- <div class="mat-headline">Visitor Managment</div> -->

        <div fxLayout="column" fxLayoutGap="5px">
            <!-- <mat-label fxLayoutAlign="center center">{{'USER.PASSWORD' | translate}}</mat-label> -->
            <mat-label fxLayoutAlign="flex-start">Username</mat-label>
            <input class="input-tan" matInput>
            <mat-label fxLayoutAlign="flex-start">Password</mat-label>
            <input class="input-tan" matInput [type]="hide ? 'password' : 'text'">
            <button class="login-button" mat-raised-button color="primary" (click)="login()">LOGIN</button>
        </div>

    </div>
</div>
