<!-- <div class="single-item" fxLayout="column" fxLayoutGap="60px" fxLayoutAlign="center center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

        <mat-slide-toggle>Securty</mat-slide-toggle>

        <mat-form-field>
            <mat-label>Select Values from here</mat-label>
            <mat-select multiple> -->
<!-- <mat-option *ngFor="let food of foods" [value]="food.value"> -->
<!-- <mat-option>Item 1</mat-option>
                <mat-option>Item 2</mat-option>
                <mat-option>Item 3</mat-option>
            </mat-select>
        </mat-form-field>

        <form class="example-form">
            <mat-form-field class="example-full-width"> -->
<!-- <mat-label>Favorite food</mat-label> -->
<!-- <input matInput value="...">
            </mat-form-field>
        </form>
    </div>
</div> -->



<div fxLayoutAlign="center center">

    <mat-card fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center center">
        <div>
            <mat-form-field class="serarch-field" appearance="outline">
                <!-- <mat-label>Filter Properties</mat-label> -->
                <mat-icon matPrefix>search</mat-icon>
                <input class="serarch-input" matInput type="text" [(ngModel)]="filterInput" placeholder="Filter properties">
                <button mat-button *ngIf="filterInput" matSuffix mat-icon-button aria-label="Clear" (click)="filterInput=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="json-editor">
            <json-editor [options]="editorOptions" [data]="jsonData" (change)="jsonDataChanges($event)"></json-editor>
        </div>

        <div class="edit-components" *ngFor="let property of config.properties | propertyFilterPipe: filterInput; let i=index">

            <!-- Toggle Button -->
            <div *ngIf="property.propertyType === 'TOGGLE_BUTTON'" fxLayout="row" fxLayoutAlign="start center">
                <div class="property-name"> {{ property.propertyName }} : </div>
                <div class="alignment-adjust"></div>
                <mat-slide-toggle [checked]="property.currentValue">Slide Toggle</mat-slide-toggle>
            </div>

            <!-- Color Picker -->
            <div *ngIf="property.propertyType === 'COLOR_PICKER'" fxLayout="row" fxLayoutAlign="start center">
                <div class="property-name"> {{ property.propertyName }} : </div>
                <div class="alignment-adjust"></div>
                <mat-form-field class="property-value" appearance="outline">
                    <input class="color-picker-inputbox" matInput [ngxMatColorPicker]="picker" 
                        [style.background]="colorCtr[i].value ? colorCtr[i].value.rgba : property.currentValue" 
                        [style.color]="colorCtr[i].value ? colorCtr[i].value.rgba : property.currentValue" [formControl]="colorCtr[i]" 
                        [disabled]="disabled" (change)="updateNewValue(property.propertyName, $event)"
                        [value] = property.newValue>
                    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
                    <ngx-mat-color-picker #picker [color]="color"></ngx-mat-color-picker>
                </mat-form-field>
            </div>

            <!-- File upload -->
            <div *ngIf="property.propertyType === 'FILE_UPLOAD'" fxLayout="row" fxLayoutAlign="start center">
                <div class="property-name"> {{ property.propertyName }} : </div>
                <div class="alignment-adjust"></div>
                <mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <!-- <mat-toolbar> -->
                        <!-- Display files names -->
                        <input matInput [(ngModel)]="fileAttr" readonly name="name" />
                        <!-- Browse Button -->
                        <button mat-flat-button color="primary" fxLayoutAlign="end center">
                            Browse File
                        </button>
                        <!-- </mat-toolbar> -->
                        <!-- Fetch selected filed on change -->
                        <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
                            accept="image/*" />
                    </div>
                </mat-form-field>
            </div>
            <!-- <div>
                <mat-form-field>
                    <mat-label> Multiple Property </mat-label>
                    <mat-select [formControl]="toppings" multiple>
                        <mat-select-trigger>
                            {{toppings.value ? toppings.value[0] : ''}}
                            css class for reducing opacity refer angular material
                            <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                                (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->

            <!-- Edit text properties -->
            <div *ngIf="property.propertyType === 'TEXT'" fxLayout="row" fxLayoutAlign="start center">
                <div class="property-name"> {{ property.propertyName }} : </div>
                <div class="alignment-adjust"></div>
                <!-- <mat-divider></mat-divider> -->
                <mat-form-field class="property-value">
                    <!-- <mat-label>Property</mat-label> -->
                    <input matInput #message maxlength="256" [value]="property.currentValue"
                        (change)="updateNewValue(property.propertyName, $event)">
                </mat-form-field>
                <button mat-icon-button color="primary" matTooltip="Info about the property. Under development
                Info about the property. Under development...Info about the property. Under development
                Info about the property. Under development...Info about the property. Under development
                Info about the property. Under development...Info about the property. Under development">
                <!-- <span class="material-icons" color="primary"> -->
                    <mat-icon>info</mat-icon>
                <!-- </span> -->
                </button>
            </div>
        </div>
    </mat-card>
</div>