.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    // border: 2px;
    // border-color: black;
    // color: blue;
  }
  
button.mat-button {
    border-radius: 3px;
 }

mat-card{
    width: 80%;
    margin: 10px;
}


// .color-picker-inputbox{
//     // height: 20px;
//     width: 30px;
// }
// .color-picker{
//     // height: 20px;
//     width: 50px;
// }

mat-form-field {
    margin: 10px 0;
    // width: 350px !important;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}

.mat-toolbar-single-row button {
    width: 150px;
}

// related with colorpicker
// .mat-form-field {
//     width: 100%;
// }

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.edit-components{
    width: 95%;
}

.property-name {
    width: 40%;
    // width: 300px;
    // height: 50px;
    margin-top: 1%;
    margin-bottom: 1%;
    // margin: 3%;
    text-align: right;
    overflow-wrap: break-word;
    font-weight:bold;
    color: rgb(34, 3, 3);
}
.property-value {
    // width: 57%;
    width: 100px;
    // height: 50px;
}

.alignment-adjust{
    width: 3%;
}

// .serarch-input {
//     border: 3px;
//     border-color: yellow;
// }

// .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: rgb(245, 226, 52);
// }

.serarch-field {
    width: 500px;
}

.json-editor {
    width: 500px;
    // height: 400px;
}

// p {
//     font-family: Lato;
// }