// .save-button{
//     // width: 50px;
//     position: fixed;
// }

.save-button {
    background-color: #f5c13b;
    border-radius: 3px;
    // position:fixed !important;
    // right:3%;
    // bottom:3%;
}

// .save-div {
//     background-color: white;
//     position:fixed;
//     right:0;
//     bottom:0;
// }