<div fxLayout="column" *ngIf="configs.length > 0">
    <mat-tab-group animationDuration="10ms">
        <mat-tab *ngFor="let config of configs; let i = index" [label]="config.propertySource">
            <app-edit-item [config]="config" (updatedConfigEvent)="configs[i]=$event"></app-edit-item>
        </mat-tab>
    </mat-tab-group>
    <!-- <mat-tab-group animationDuration="10ms">
        <mat-tab *ngFor="let configProperty of configProperties; let i = index" [label]="configProperty.propertySource">
            <app-edit-item [config]="config" (updatedConfig)="configs[i]=$event"></app-edit-item>
        </mat-tab>
    </mat-tab-group> -->

    <div fxLayoutAlign="center center">
        <!-- <div class="save-div"> -->
        <!-- mat-fab-bottom-right -->
        <button class="save-button" mat-raised-button (click)="callUpdateApi()">Save</button>
    </div>
</div>